<!DOCTYPE HTML>
{include file="public/header"}
<!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        <!-- left menu starts -->

        {include file="public/menu"}

        <!-- left menu ends -->
        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="{:url('index/index')}">Tenflyer</a>
                    </li>
                </ul>
            </div>
            <p style="font-size:20px;text-align:center;font-weight:bold;margin-top:50px;">欢迎进入腾辉供应商产品管理系统！</p>
            <!-- content ends -->
        </div>
    </div>
</div>

{include file="public/footer"}